*{
    margin: 0;
    padding: 0;
    border: 0;
}
html,body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-85deg,rgb(11, 210, 245),rgb(20, 223, 20));
}
button{
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    height: 10vh;
    border-radius: 3rem;
    background-color: rgba(255, 255, 255, 0.5);
    transition: background-color 0.2s;
    font-weight: 900;
}
button:hover{
    background-color: rgba(255, 255, 255, 1);
}
button:nth-child(17){
    text-align: center;
    font-size: 1.5rem;
}
input[type=text]{
    box-shadow: 1px 2px 3px black;
    margin-bottom: 5%;
    width: 90%;
    height: 5rem;
    background-color: rgba(255, 255, 255, 0.4);
    transition: background-color 0.2s;;
    color: #000;
    font-size: 1.3rem;
    padding: 0 15px 0 15px;
    font-weight: 900;
    border-radius: 3rem;
    text-align: right;
}
#display{
    display: flex;
    justify-content: center;
    padding: 2%;
}
#calculadora-cont{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#sinaisENumeros{
    display: grid;
    width: 97%;
    height: 600px;

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);

    grid-gap: 10px;

}
#clear{
    grid-column: 1/3;
}
#igual{
    grid-column:4/5;
}
#casaDecimal{
    grid-column: 2/4;
}

@media screen and (min-width:760px){ /*TABLETS*/
    #display{
        width: 80vw;
    }
    #tela{
        width: 100%;
    }

}
@media screen and (min-width: 1270px) {
    #display{
        width: 50vw;
    }
}